
/**
* ###### FONTS ######
*/

@font-face{
	font-family: "Roboto-Light";
	src: url('../fonts/Roboto/Roboto-Light.ttf');
}

@font-face{
	font-family: "Roboto-Medium";
	src: url('../fonts/Roboto/Roboto-Medium.ttf');
}
@font-face{
	font-family: "Roboto-Regular";
	src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face{
	font-family: "Roboto-Bold";
	src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face{
	font-family: "CopseRegular";
	src: url('../fonts/Copse/Copse-Regular.ttf');
}

@font-face{
	font-family: "Revolution";
	src: url('../fonts/REVOLUTION.ttf');
}

@font-face{
	font-family: "LobsterTwo-Regular";
	src: url('../fonts/Lobster_Two/LobsterTwo-Regular.ttf');
}



#imgBackground{
	background-image: url('../images/bg.png');
	background-repeat: no-repeat;
	width: 100%;
	height: 42em;
	text-align: center;
}

#text-principal{
	padding-top: 8.4em;
	color: white;
	font-size: 190%;
}

#title-1{
	font-family: LobsterTwo-Regular;
	font-size: 2em;
	margin-bottom: 19px;
}

#title-2{
	font-family: Roboto-Medium;
	font-size: 0.81em;
}



/*--------------------------------
|######<-PORTFOLIO SECTION-> #####|
---------------------------------*/

#portfolio-header{
	height: 140px;
}

#portfolio-header h1{
	font-family: LobsterTwo-Regular;
	margin-top: 4%;
	margin-left: 3em;
	float: left;
	font-size: 36px;
	border-right: solid;
	border-width: 1px;
	border-right-color: #E0E0E0;
	padding-right: 1em;
}


#portfolio-header p{
	margin-top: 3.9%;
	margin-left: 2.5em;
	float: left;
	width: 18em;
	font-size: 1.1em;
	color: #BDBDBD;
}

#workviews{
	width: 100%;
	height: 20em;
	background: black;
}

.card{
	float: left;
	height: 20em;
	background: red;
	width: 25%;
	border: solid;
	border-color: rgba(255,255,255, 0.4);
	border-width: 1px;
	background-repeat: no-repeat;
}

.card-image{

}

#work-1{
	background-image: url("../images/portfolio1.jpg");
	background-size: 45em;
	background-position: 45% 5%;
}

#work-2{
	background-image: url("../images/centerbg.jpg");
	background-size: 26em;
	background-position: 40% 45%;
}

#work-3{
	background-image: url("../images/QrcodeSquare2.jpg");
	background-size: 32em;
	background-position: 48% 34%;
}

#work-4{
	background-image: url("../images/culturi2.png");
	background-size: 42em;
	background-position: 48% 45%;
}