
#header-menu {
	position: fixed;
	top: 0;
	width: 100%;
}

.initial-menu{
	padding: 2em;
	box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);;
	background: rgba(192,203,209,0.5);
	border-style: solid;
	border-color: rgba(255,255,255,0.3);;
	border-width: 0.1px;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.float-menu{
	padding: 0.9em;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);;
	background: rgba(192,203,209, 0.8);
	/*background: red;*/
	border-style: solid;
	border-color: rgba(255,255,255,0.3);;
	border-width: 0.1px;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

 
#brand {
	font-family: LobsterTwo-Regular;
	font-size: 2.1em;
	color: white;
}

#contentBrand{
	margin-left: 2em;
}


#right-menu{
	float: right;
	font-size: 16px;
	margin-top: 15px;
}

#right-menu a{
	font-family: Roboto-Regular;
	color: white;
	margin-right: 10px;
	cursor: pointer;
}
